<!--<div id="footer" style="background-color:black; color:white; height:50px;">-->
<!--  <palign="center" style="font-size:12px; padding-top:20px;">&copy; Central Media limited. All rights reserved</p>-->
<!--</div>-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
 footer {
      background-color: #f2f2f2;
      padding: 25px;
      position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       height: 5px;
       text-align: center;
       margin-top:40px;
    }
 </style>
<footer>
<div class="footer text-center" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="">Central Media limited</a>
</div>
</footer>