{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'ecom:allProdCat' %}"><img src="{% static '/img/Central Media.png' %}" width="80px" height="30px"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'ecom:allProdCat' %}">Home</a></li>

<!--        <li class="dropdown">-->
<!--          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category<span class="caret"></span></a>-->
<!--          <ul class="dropdown-menu">-->
        {% for cat in links %}
        <li><a href="{{cat.get_url}}" class="dropdown-item">{{cat.name}}</a></li>
        {% endfor %}
  <!--          </ul>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" method="get" action="{% url 'searchapp:search' %}">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name="q">
          </div>
          <button type="submit" class="btn btn-outline-success my-2 my-sm-0"><i class="fa fa-fw fa-search"></i></button>
        </form>
        {% if not cart_item.active %}
        <li><a href="{% url 'regloginapp:signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
        {% if item_count > 0 %}
        <li><a href="{% url 'cartapp:cart_details' %}"><span class="glyphicon glyphicon-shopping-cart"></span>  Your Cart({{item_count}})</a></li>
        {% endif %}
      </ul>

    </div>
  </div>
</nav>

