<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<form method="get">
  <input type ="text", name="num1", placeholder="num1"><br><br>
   <input type ="text", name="num2", placeholder="num2"><br><br>
    <input type="submit" value="Submit" formaction="submit/"><br><br>
   <input type="submit" value="Add" formaction="add/"><br><br>
    <input type="submit" value="Sub" formaction="sub/"><br><br>
    <input type="submit" value="Mul" formaction="mul/"><br><br>
    <input type="submit" value="Div" formaction="div/"><br><br>
    </form>
</body>
</html>